# Langchain Core
langchain
langchain-core

# OpenAI
langchain-openai
openai

# Anthropic
langchain-anthropic

# Google
langchain-google-genai
google-generativeai

# HF
langchain-huggingface
transformers
huggingface-hub

# Environment
python-dotenv

# Machine Learning
numpy
scikit-learn

# Require to run `TinyLlama/TinyLlama-1.1B-Chat-v1.0` HF locally
torchvision

# Require to run `sentence-transformers/all-MiniLM-L6-v2` HF locally
sentence-transformers

# For building UI
streamlit